extend layout

block stylesheet
    link(rel="stylesheet",href="/css/jumbotron-narrow.css")
block content
    .container
        //- .masthead
        //-     h3.text-muted Naviam | Release Manager
        .jumbotron
            //- h1 Improve SDLC with ease!
            //- p.lead Increase visibility of features, manage features on different environments, auto-refresh all environments from production, auto-clean environments when dirty.
            p Please choose a Github organization:
            ul.nav.nav-pills.nav-stacked
                li
                    a(href="#") ServiceChannel
                li
                    a(href="#") Naviam
        //- .footer
        //-     p &copy; Naviam, Inc. 2014
block scripts
    script(src='/js/socket.io.js')
    script(src='/js/knockout-2.3.0.js')
    script(src='/js/knockout.mapping-latest.js')
    script(src='../js/models/AccountViewModel.js')
    script.
        $(function() {
            var orgs = !{JSON.stringify(orgs)};
            var viewmodel = new AppViewModel(orgs);
            window.viewmodel = viewmodel;
            ko.applyBindings(viewmodel);
        });