<!DOCTYPE html>
<html>
<head>
  <link href='/bower/bootstrap/dist/css/bootstrap.css' rel='stylesheet' />
  <link href='/bower/bootstrap-social/bootstrap-social.css' rel='stylesheet' />
  <link href='/bower/bootcards/dist/css/bootcards-desktop.min.css' rel='stylesheet'>
  <link href='/css/application.css' rel='stylesheet' />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src='/bower/jquery/dist/jquery.js'></script>
  <script src='/bower/bootstrap/dist/js/bootstrap.js'></script>
  <script src='/bower/handlebars/handlebars.js'></script>
  <script src='/bower/ember/ember.js'></script>
  <script src='/bower/ember-data/ember-data.js'></script>
  <script src='/bower/userapp/userapp.client.js'></script>
  <script src='/bower/userapp-ember/ember-userapp.js'></script>
  <script src='/bower/socket.io-client/dist/socket.io.js'></script>
  <script src='/js/ember-sockets.min.js'></script>
  <script src='/js/ember-app.js'></script>
</head>
<body>
  <script type='text/x-handlebars' data-template-name='application'>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <button type="button" class="btn btn-default btn-back pull-left hidden" onclick="history.back()">
          <i class="fa fa-lg fa-chevron-left"></i>
          <span>Back</span>
        </button>
        <button type="button" class="btn btn-default btn-menu pull-left offcanvas-toggle">
          <i class="fa fa-lg fa-bars"></i>
          <span>Menu</span>
        </button>
        {{#link-to 'index' class='navbar-brand'}}CloudCron{{/link-to}}
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'jobs'}}Jobs{{/link-to}}</li>
            <li>{{#link-to 'upgrade'}}Upgrade Plan{{/link-to}}</li>
            <li>{{#link-to 'settings'}}Settings{{/link-to}}</li>
            <li>
              {{#if user.authenticated}}
                  <a href="#" {{ action 'logout' }}>Log out</a>
              {{else}}
                  {{#link-to 'login' }}Log in{{/link-to}}
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='container'>
      {{outlet}}
    </div>
    <footer class='container'>
      <hr />
      <p class='pull-left'>&copy; 2014 CloudCron, Inc.</p>
    </footer>
  </script>
  <script type="text/x-handlebars" data-template-name="login">
    <form class="form" {{action login on='submit'}}>
      <h2 class="form-heading">Sign In | {{#link-to 'signup' }}Sign Up{{/link-to}}</h2>
      <div class="form-fields">
        {{input id='username' placeholder='Enter your Email' class='form-control' value=username required="on" autofocus="on"}}
        {{input id='password' placeholder='Enter a Password' class='form-control' type='password' value=password required="on"}}
      </div>
      {{#if error}}
          <div class="alert alert-error">{{error.message}}</div>
      {{/if}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      <hr/>
      <button {{ action 'oauth' 'google' }} class="btn btn-social btn-google-plus btn-block">
        <i class="fa fa-google-plus fa-lg"></i>
        Sign in with Google
      </button>
    </form>
  </script>
  <script type="text/x-handlebars" data-template-name="signup">
    <form class="form" {{action signup on='submit'}}>
        <h2 class="form-heading">{{#link-to 'login' }}Sign In{{/link-to}} | Sign Up</h2>
        {{input id='email' placeholder='Enter your Email' class='form-control' value=email required="on" autofocus="on"}}
        {{input id='password' placeholder='Enter a Password' class='form-control' type='password' value=password required="on"}}
        {{#if error}}
            <div class="alert alert-error">{{error.message}}</div>
        {{/if}}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
        <hr/>
        <button {{ action 'oauth' 'google' }} class="btn btn-social btn-google-plus btn-block">
          <i class="fa fa-google-plus fa-lg"></i>
          Sign in with Google
        </button>
    </form>
  </script>
  <script type='text/x-handlebars' data-template-name='upgrade'>
    <h1>Upgrade plan!</h1>
    <p>This site would not be possible without the hardworking Ember Core Team!</p>
  </script>
  <script type='text/x-handlebars' data-template-name='settings'>
    <h1>Settings!</h1>
    <p>This site would not be possible without the hardworking Ember Core Team!</p>
  </script>
  <script type='text/x-handlebars' data-template-name='jobs'>
    <div class="row">
        <div class="col-sm-4 bootcards-list">
        
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <div class="row">
                    <div class="col-xs-9">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search by name or tag...">
                        <i class="fa fa-search"></i>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <button {{action 'createJob'}} class='btn btn-success btn-block'><i class="fa fa-plus"></i> Job</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="list-group">
                {{#each}}
                  {{#link-to 'job' this class="list-group-item"}}
                    <h4 class="list-group-item-heading">{{title}}</h4>
                    <p class="list-group-item-text">{{rrule}}</p>
                  {{/link-to}}
                {{/each}}
              </div>
            </div>
          
        </div>
        <div class="col-sm-8 bootcards-cards">
        
          {{outlet}}
          
        </div>
      </div>
  </script>
  <script type='text/x-handlebars' data-template-name='jobs/index'>
        <div class="panel panel-default bootcards-summary">
          <div class="panel-heading">
            <h3 class="panel-title">Welcome {{user.current.first_name}}! Jobs Summary (Today)</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                  <i class="fa fa-3x fa-users"></i>
                  <h1>432 <span>Tasks executed</span></h1>
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                  <i class="fa fa-3x fa-building-o"></i>
                  <h1>98 <span>Jobs executed</span></h1>
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                  <i class="fa fa-3x fa-clipboard"></i>
                  <h1>54 <span>Minutes ran</span></h1>
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                  <i class="fa fa-3x fa-bar-chart-o"></i>
                  <h1>21 <span>Errors</span></h1>
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                  <i class="fa fa-3x fa-files-o"></i>
                  <h1>65 <span>Files Generated</span></h1>
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                  <i class="fa fa-3x fa-check-square-o"></i>
                  <h1>109 <span>Email notification sent</span></h1>
                </a>
              </div>      
            </div>
          </div>
          <div class="panel-footer">
            <small>Please select a job to see job details.</small>
          </div>
        </div>

  </script>
  <script type='text/x-handlebars' data-template-name='job'>

        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">{{title}}</h3>
              <a class="btn btn-link pull-right" href="#">
                Share
              </a>
          </div>
            <div class="list-group">
              <div class="list-group-item">
                <p class="list-group-item-text">Name</p>
                <h4 class="list-group-item-heading">{{title}}</h4>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Recurrence Rule</p>
                <h4 class="list-group-item-heading">{{rrule}}</h4>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Last run</p>
                <h4 class="list-group-item-heading">{{lastRun}}</h4>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Next run</p>
                <h4 class="list-group-item-heading">{{nextRun}}</h4>
              </div>
            </div>
          <div class="panel-footer">
            <small>Created on {{createdDate}}</small>
          </div>
        </div>

  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51553274-1', 'jit.su');
    ga('send', 'pageview');
  </script>
</body>
</html>